div.hero-unit h1
{
    font-size: 96px;
    color: #777;
    text-shadow: 1px 1px 2px white;
}
div.hero-unit 
{
    text-align: center;
}
div.hero-unit input
{
}
ul
{
    text-align: left;
}
li
{
    display: block;
    background: whitesmoke;
    padding: 10px;
    font-family: Arial;
    font-weight: bold;

    border-bottom: 1px solid #DDD;
    border-top: 1px solid #FFF;
    
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
}
li:first-child
{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
li:last-child
{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
li:hover
{
    background: white;
}
